* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

form {border: 3px solid #f1f1f1;}

button {
  background-color: #cc3125;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
}

button.close {
	width: auto;
}


button:hover {
  opacity: 0.8;
}

.container {
  padding: 16px;
}

.close-btn {
  font-size: 60px;
  font-weight: bold;
  color: #000;
  border: none;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
}

/* html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    padding: 0;
} */